---
layout: page_without_title
title: Home
---

<h2>Latest Article</h2>

{% for post in site.posts limit:1 %}
{% if post.backgroundUrl contains 'https://images.unsplash.com' %}
<h3 class="post-title" style="background: url({{post.backgroundUrl}}&w=700) 0; background-size: cover; min-height: 10rem; position:relative; margin-bottom:50px">
    {% else %}
    <h3 class="post-title" style="background: url({{post.backgroundUrl}}) 0; background-size: cover; min-height: 10rem; position:relative; margin-bottom:50px">
{% endif %}
    <a href="{{ post.url }}" style="background-color: rgba(250, 250, 250, 0.8);">
        {{ post.title }}
    </a>
</h3>
{% endfor %}

<h2>Featured Projects</h2>
<div>
    <img src="https://miro.medium.com/max/700/1*IGURB6wjlNvasWOKQ_tUAw.png" style="object-fit: cover; max-height: 300px; width: 100%;" alt="Title with watch">
    <p>The Serverless Scheduler solves the lack of a serverless ad hoc scheduling solution. Read more about in the <a href="/2019/10/11/serverless-scheduler">launch article</a> and find the source code on <a href="https://github.com/bahrmichael/aws-scheduler">GitHub</a>.</p>
    <p>
        <b>Related Articles</b>
        <ul class="spaced-list">
            <li><a href="/2019/10/11/serverless-scheduler/">Serverless Scheduler</a></li>
            <li><a href="/2019/05/29/ddb-ttl-analysis/">Analysis of DynamoDB’s TTL delay</a></li>
            <li><a href="/2020/01/30/understand-lambda-spending/">Understanding Lambda Spending</a></li>
        </ul>
    </p>
</div>

<div>
    <div style="position:relative">
        <img src="https://tagn.files.wordpress.com/2014/12/bowhead_large.jpg" style="object-fit: cover; max-height: 300px; width: 100%;" alt="Logistics scene from EVE Online">
        <h2 style="position:absolute;top:0;color: white; left: 30px;">EVE Market Watch</h2>
    </div>
    <p><a href="https://evemarketwatch.com">EVE Market Watch</a> is a fully serverless application that helps players of the MMORPG EVE Online keep their markets stocked. It aggregates data and sends notifications to more than 500 users, free of charge.</p>
    <p>
        <b>Related Articles</b>
        <ul class="spaced-list">
            <li><a href="https://bahr.dev/2020/04/13/custom-metrics/">Monitoring Custom Application Health</a></li>
            <li><a href="https://bahr.dev/2020/02/02/aggregate-ddb/">DynamoDB: Analyse and Aggregate</a></li>
        </ul>
    </p>
</div>

<h2>Recent Articles</h2>

{% for post in site.posts offset:1 limit:10 %}
{% if post.backgroundUrl contains 'https://images.unsplash.com' %}
<h3 class="post-title" style="background: url({{post.backgroundUrl}}&w=700) 0; background-size: cover; min-height: 10rem; position:relative; margin-bottom:50px">
    {% else %}
    <h3 class="post-title" style="background: url({{post.backgroundUrl}}) 0; background-size: cover; min-height: 10rem; position:relative; margin-bottom:50px">
{% endif %}
    <a href="{{ post.url }}" style="background-color: rgba(250, 250, 250, 0.8);">
        {{ post.title }}
    </a>
</h3>
{% endfor %}
<p>Find more posts in the <a href="/archive">Archive</a>.</p>
</div>