---
layout: default
---

<div class="post">
  {% if page.backgroundUrl contains 'https://images.unsplash.com' %}
<h1 class="post-title" style="background: url({{page.backgroundUrl}}&w=2000) 0; background-size: cover; min-height: 30rem; position:relative;">
    {% else %}
      <h1 class="post-title" style="background: url({{page.backgroundUrl}}) 0; background-size: cover; min-height: 30rem; position:relative;">
{% endif %}
    <a href="{{ page.url }}">
      {{ page.title }}
    </a>
  </h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <hr/>

  <p>Enjoyed this article? Sign up for more!</p>
  <!-- Begin Mailchimp Signup Form -->
  <div class="mail_signup" style="position: relative;">
    <form action="https://dev.us19.list-manage.com/subscribe/post?u=60149d3a4251e09f826818ef8&amp;id=ad766562ce" style="margin-left: 10%; margin-right: 10%;" method="post" class="validate" target="_blank" novalidate>
        <div class="mc-field-group" style="width: 50%">
          <input type="email" value="" placeholder="Email" name="EMAIL" class="required email">
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60149d3a4251e09f826818ef8_ad766562ce" tabindex="-1" value=""></div>
        <input style="width: 50%; background-color: #444;" type="submit" value="Subscribe" name="subscribe" class="button">
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  window.onload = function() {
    document.querySelectorAll('.post > p').forEach((p) => {
      let c = p.children;
      if (c && c[0] && c[0].tagName && c[0].tagName == 'IMG' && c[0].width > c[0].height * 3) {
        p.style.maxWidth = '56rem';
        p.style['margin-left'] = 'auto';
        p.style['margin-right'] = 'auto';
        c[0].style.maxWidth = '56rem';
        c[0].style['margin-left'] = 'auto';
        c[0].style['margin-right'] = 'auto';
      }
    });
  }
</script>
